/* product-category.css */
.categories-section {
    
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

    .category-card{
        position: relative;
        width: 317px;
        height: 500px;
        border-radius: 15px;
        overflow: hidden;
    } 
    .overlay{
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: 1;
        
    }  
        
    

.category-name{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
    text-align: center;
    
}
.casual{
    background:url(../../images/products/tênis\ casual.jpg)no-repeat center;
    background-size: cover;
}
.esporte{
    background: url(../../images/products/tenis\ esportivo.jpg) no-repeat center;
    background-size: cover;
}.moderno{
    background: url(../../images/products/tenis/moderno.jpg) no-repeat center;
    background-size: cover;
}
.futurista{
    background:url(../../images/products/tênis\ futurista.jpg)no-repeat center;
    background-size: cover;
}
.highlight{
    grid-area:highlight;
    background-image:url(../../images/products/card-imagem.jpg);
    
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "highlight highlight sneaker-purple sneaker-purple"
        "highlight highlight model          sneaker-color"
        "sneaker-white sneaker-white model sneaker-silver"; 
        /* Acima: repeti os nomes para completar 4 colunas em cada linha */
    gap: 30px;
    margin-top: 40px;
}